<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Backup de nfe</title>
</head>

<body>
    <main class="container">
        <%- include('../header.ejs'); %>
            <div class="row">
                <div class="col s4">
                    <div class="center promo">
                        <i class="material-icons">attach_money</i>
                        <p class="promo-caption">Lado esquerdo da tela</p>
                        <p class="light center">We did most of the heavy lifting for you to provide a default stylings
                            that incorporate our custom components.</p>
                    </div>
                </div>
                <div class="col s4">
                    <div class="center promo">
                        <i class="material-icons">laptop</i>
                        <p class="promo-caption">Centro da tela</p>
                        <p class="light center">We did most of the heavy lifting for you to provide a default stylings
                            that incorporate our custom components.</p>
                    </div>
                </div>
                <div class="col s4">
                    <div class="center promo">
                        <i class="material-icons">backup</i>
                        <p class="promo-caption">Lado direito da tela</p>
                        <p class="light center">We did most of the heavy lifting for you to provide a default stylings
                            that incorporate our custom components.</p>
                    </div>
                </div>

            </div>
    </main>
    <script src="js/jquery-3.6.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>