<footer class="container-fluid mt-3" id="containerRodape">
    <div>
        <ul>
            <li><a href="/" class="colorFontFooter">Home</a></li>
            <li><a href="/customer" class="colorFontFooter">Cliente</a></li>
            <li><a href="/backup" class="colorFontFooter">Notas</a></li>
        </ul>
    </div>
    <p class="container center-align valign-wrapper colorFontFooter" style="width: 100%;">Copyrigth <i
            class="material-icons">copyright</i><span> 2022</span>
    </p>
</footer>