<nav>
    <div class="nav-wrapper">
        <ul id="slide-out" class="sidenav">
            <li><a href="/">Home</a></li>
            <li><a href="/customer">Cliente</a></li>
            <li><a href="/backup">Notas</a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <a href="/" class="brand-logo"><i class="material-icons">backup</i></a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/customer">Cliente</a></li>
            <li><a href="/backup">Notas</a></li>
        </ul>
    </div>
</nav>