nav {
    background-color: #3d86b8;
}

fieldset legend {
    padding-left: 5px;
    padding-right: 5px;
}

.brand-logo {
    margin-left: 10px;
}

.promo {
    width: 100%;
}

.promo i {
    margin: 40px 0;
    color: #3d86b8;
    font-size: 7rem;
    display: block;
}

.promo-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

.rounded {
    background-color: #f44336;
}